.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar{
  height: 10%;
}

mat-sidenav-container {
  height: 90%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: grey;
  width: 30%;
}
